<div class="mobleHead">
    <div class="menuIcon">
        <img src="/images/logo.png">
    </div>
    <div class="menuList">
        <div class="list">
            <a class="title" href="/">首页</a>
        </div>
        <div class="list">
            <a class="title" href="/automation" mark="automation">营销自动化</a>
        </div>
        <div class="list">
            <a class="title" href="/email" mark="email">邮件营销</a>
        </div>
        <div class="list">
            <a class="title" href="/note" mark="note">短信营销</a>
        </div>
        <div class="list">
            <a class="title" href="/about" mark="about">关于我们</a>
        </div>
        <div class="list">
            <a class="title" href="/about/example" mark="note">成功案例</a>
        </div>
        <div class="list">
            <a class="title" href="/about/form" mark="note">产品演示</a>
        </div>
    </div>
</div>